<tr>
   <td style="padding: 0 0 20px;vertical-align: top;">
      Thanks,<br>
      {{sender_name}} <br>
      

   </td>
</tr>
</table>
</td>
</tr>
</table>

</div>
</td>
<td></td>
</tr>
</table>
</body>

</html>