<tr>
    <td class="content-wrap" style="padding: 20px;">
        <table width="100%" cellpadding="0" cellspacing="0">
            <tr>
                <td class="content-block" style="padding: 0 0 20px;">
                    Hello {{receiver_name}},
                </td>
            </tr>
            <tr>
                <td class="content-block" style="padding: 0 0 20px;">
                    We've received a request to reset the password for this email address. To reset your password
                    please click on below link.
                </td>
            </tr>

            <tr>
                <td class="content-block" style="padding: 0 0 20px;">
                    <a href="{{forgotPasswordLink}}" class="btn-primary" style="color: #348eda;text-decoration: underline;text-decoration: none;
        color: #FFF;
        background-color: #ffda1a;
        border: solid #ffda1a;
        border-width: 10px 20px;
        line-height: 2em;
        font-weight: bold;
        text-align: center;
        cursor: pointer;
        display: inline-block;
        border-radius: 5px;        
        text-transform: capitalize;">Reset
                        Password</a>
                </td>
            </tr>

            <tr>
                <td class="content-block" style="padding: 0 0 20px;">
                    If the above link is not clickable, try copying and pasting below url into the address bar of your
                    web browser.
                </td>
            </tr>
            <tr>
                <td class="content-block" style="padding: 0 0 20px;">
                    <a href="{{forgotPasswordLink}}" style="word-break: break-all;color: #348eda;text-decoration: underline;">{{forgotPasswordLink}}</a>
                </td>
            </tr>

            <tr>
                <td class="content-block" style="padding: 0 0 20px;">
                    If you don't want to reset your password please ignore this message. Your password will not be
                    reset.
                </td>
            </tr>